/* your css here */
h1{
    text-align: center;
}
h2{
    padding: 20px 10px 5px 40px;
}
img{
    padding-left: 40px
}
p{
    padding: 0px 550px 10px 40px;
}
form{
    padding: 0px 550px 10px 40px;
}
/* color scheme */
:root {
    --header-bg-color: rgb(34, 34, 34);
    --header-txt-color: #aaa;
    --header-highlight-color: white;
}

.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="."]
{
    color:var(--header-highlight-color);
    background-color: inherit;
}

main {
    min-height: calc(200vh - 9em);
}
footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    height: 3em;
}

.navbar-inverse{
    color:var(--header-txt-color);
    background-color: var(--header-bg-color);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: inherit;
}